
<!DOCTYPE html>
{% load static %}	
<html lang="en" class="no-js">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;"/>

    <link rel="stylesheet" href="{% static 'beb/nivo-slider/css/nivo-slider.css'%}" type="text/css" media="screen" />
    <link href='http://fonts.googleapis.com/css?family=Dosis:400,600,300' rel='stylesheet' type='text/css'/>

    <script type="text/javascript" src="{% static 'beb/nivo-slider/js/jquery-1.7.1.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'beb/nivo-slider/js/jquery.nivo.slider.js'%}"></script>
	<script type="text/javascript">

		function captionMoveIn() {
			$('.nivo-caption')
			.fadeIn("fast")
			.animate({left: "0px"},1400)
		;};
	
	
		function captionMoveOut() {
			$('.nivo-caption')
			.animate({left: "-400px"},1400)
			.fadeOut("fast")
		;};
	
		</script>
		<script type="text/javascript">
		$(window).load(function() {
			$('#slider').nivoSlider({
				effect:"sliceUpDownLeft",
				pauseTime:6000,
				animSpeed:850,
				afterLoad: function (){captionMoveIn();},
				beforeChange: function (){captionMoveOut();captionMoveIn();}
	
			});
		});
		</script>
  

</head>

<body >
	
<div   id="wrapper">

		
	<div class="slider-wrapper">
	    <div   id="slider" class="nivoSlider">
			{% for sliders in slider %}

			<span>
			<img class="zoom" src= "{% static 'beb/img/'%}{{sliders.codice}}/{{sliders.img}}" alt="" title="#htmlcaption{{sliders.ID}}" />
	   		</span>
			
			{% endfor %}
	    </div>

	</div>

	{% for sliders in slider %}
    <div id="htmlcaption{{sliders.ID}}" class="nivo-html-caption">
		
		<h1><a style="color:#000000; font-size: 1em;" href="{{sliders.link}}">{{sliders.titolo}}</a></h1>
		<br>
		<p>  <a href="https://www.google.com/maps/place/Piazza+Cavour,+44,+50031+Barberino+di+Mugello+FI/@43.9991745,11.2356229,17z/data=!3m1!4b1!4m6!3m5!1s0x132ae4b3b54b48a5:0x4180bbe02184d5a!8m2!3d43.9991707!4d11.2381978!16s%2Fg%2F11c5k4ls2p?authuser=0&entry=ttu&g_ep=EgoyMDI1MDEyMC4wIKXMDSoASAFQAw%3D%3D">map </a>
		</p>
	</div>
	{% endfor %}
</div>
	
</body>
</html>